* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.first-look {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.1), rgba(4, 9, 30, 0.1)), url(images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.first-logo {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}

.first-logo img {
    margin-bottom: -60px;
}

.first-subtext {
    margin-left: 350px;
}

/* topics */

.topics {
    padding: 80px 120px;
    background-color: rgba(245, 245, 220, 0.595);
}

.topics h1 {
    font-size: 35px;
}

.topics p {
    padding-bottom: 50px;
}

.topic-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}

.topic-column {
    position: relative;
    text-align: center;
}

.topic-column img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
    -webkit-filter: brightness(100%);
}

.topic-column:hover img {
    -webkit-filter: brightness(40%);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    box-shadow: 0px -25px 20px -20px rgba(0,0,0,0.45),
25px 0px 20px -20px rgba(0,0,0,0.45),
0px 25px 20px -20px rgba(0,0,0,0.45),
-25px 0px 20px -20px rgba(0,0,0,0.45);
}

.topic-column h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0;
    transition: 0.5s;
}

.topic-column:hover h1 {
    opacity: 1
}

/* new thread */

.add {
    text-align: center;
    background-color: rgba(250, 250, 230, 0.595);
}

.add-button {
    background: transparent;
    border: 5px solid black;
    color: black;
    display: inline-block;
    font-size: 20px;
    padding: 12px 34px;
    position: relative;
    text-decoration: none;
}

.add-button:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
}

/* description */

.description {
    padding: 40px 120px 120px 120px;
    background-color: rgba(245, 245, 220, 0.595);
}

.description h1 {
    font-size: 35px;
    padding-bottom: 30px;
}

.description p {
    padding-bottom: 60px;
}

.contact {
    text-align: center;
    background-color: rgba(250, 250, 230, 0.595);
}

.contact-button {
    background: transparent;
    border: 5px solid black;
    color: black;
    display: inline-block;
    font-size: 20px;
    padding: 12px 34px;
    position: relative;
    text-decoration: none;
}

.contact-button:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
}